@*
    
    CREATED BY USER OLAYINI DÜZENLE


*@
@using System.Text.Json
@{
    Layout = null;

}
@using CMS.Entities.Concrete
@model CMS.Entities.Dtos.CentralAddDto

<div class="form-group">
    <form action="https://localhost:44310/api/central" method="post" id="ajaxFormSender" data-url="https://localhost:44310/api/Central">

        <input type="hidden" name="IsValid" value="@ViewData.ModelState.IsValid.ToString()" />
        <div asp-validation-summary="All" class="text-danger" id="validation-summary" aria-hidden="true" style="display:none"></div>

        <div class="form-group">
            <label asp-for="Name"></label>
            <span class="text-danger" asp-validation-for="Name"></span>
            <input class="form-control" asp-for="Name" />
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <span class="text-danger" asp-validation-for="Description"></span>
            <input class="form-control" asp-for="Description" />
        </div>
        <div class="form-group">
            <label asp-for="Number"></label>
            <span class="text-danger" asp-validation-for="Number"></span>
            <input class="form-control" asp-for="Number" />
        </div>
        <div class="form-group">
            <label asp-for="ParentId"></label>
            <span class="text-danger" asp-validation-for="ParentId"></span>
            @if (ViewBag.ParentId == null)
            {
                <select class="form-control load-from-api" asp-for="ParentId" api-url="https://localhost:44310/api/Company">
                    <template>
                        <option value="${entry.Id}">${entry.Name}</option>
                    </template>
                </select>
            }

        </div>
        <div class="form-group">
            <input asp-for="CreatedByName" value="@ViewBag.User.UserName" type="hidden" />
            <input asp-for="ModifiedByName" value="@ViewBag.User.UserName" type="hidden" />
            <button type="submit" class="btn btn-primary">Kaydet</button>
        </div>
    </form>
    <script src="~/assets/js/custom/ajax-form-sender.js"></script>
    <script src="~/assets/js/custom/loadFromApi.js"></script>
</div>