
@{
    Layout = null;
    var id = ViewBag.ProjectId;
}
@using CMS.Entities.Dtos
@model MissionAddDto

<div class="form-group p-4">

    <form asp-action="Mission" id="ajaxFormSender" data-url="https://localhost:44310/api/Mission">

        <div class="row mb-3">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="StartDate"></label>
            <div class="input-group">
                <div class="input-group date date-start">
                    <input asp-for="StartDate" class="form-control" autocomplete="off" />
                </div>
            </div>
            <span class="text-danger" asp-validation-for="StartDate"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="FinalDate"></label>
            <div class="input-group">
                <div class="input-group date date-end">
                    <input asp-for="FinalDate" class="form-control" id="final_date" autocomplete="off">
                </div>
            </div>
            <span class="text-danger" asp-validation-for="FinalDate"></span>
        </div>
        <div class="row mb-3">
            <label asp-for="StatusId"> </label>
            <div class="input-group mt-2 mb-2 w-100">
                @if (ViewBag.ParentId == null)
                {
                    <select class="selectpicker form-control load-from-api" asp-for="StatusId" api-url="https://localhost:44310/api/Status">
                    </select>
                }
            </div>
            <span class="text-danger" asp-validation-for="StatusId"></span>
        </div>


        <div class="row mb-3">
            <label asp-for="Tags"> </label>
            <div class="input-group mt-2 mb-2 w-100">
                @if (ViewBag.Tags == null)
                {
                    <select asp-for="Tags" class="selectpicker load-from-api" data-width="100%" multiple data-actions-box="true" api-url="https://localhost:44310/api/Status">
                        <template>
                            <option value="${entry.Id}">${entry.Name}</option>
                        </template>
                    </select>
                }
            </div>
            <span class="text-danger" asp-validation-for="Tags"></span>
            <p>
                <i class="fa fa-question-circle icon-sm text-info"></i>
                <span class="text-muted text-sm-center"> Etiketler, projenizi daha hızlı bulmanızı sağlar</span>
            </p>
        </div>
        <div class="row">
            <input asp-for="ProjectId" type="hidden" value="@ViewBag.ProjectId" />
            <input asp-for="CreatedByName" value="@ViewBag.User.UserName" type="hidden" />
            <input asp-for="ModifiedByName" value="@ViewBag.User.UserName" type="hidden" />
            <input type="submit" class="btn btn-hover-primary" value="Ekle">
        </div>
        <script>
            $('.selectpicker').selectpicker('show');
        </script>
    </form>
    <script src="~/assets/js/custom/ajax-form-sender.js"></script>
    <script src="~/assets/js/custom/loadFromApi.js"></script>
</div>
